// ПЕРЕМЕННЫЕ

$md1: 1200px;
$md2: 992px;
$md3: 768px;
$md4: 576px;
$md5: 375px;

// Цвета / Colors (cscc)
$green: #4d810c;
$green-900: #63a60f;
$green-200: #e0edcf;
$green-100: #eff6e7;

$red-900: #cf3e3b;
$orange-900: #ff7a00;
$yellow-900: #ffb800;

$dark-900: #121212;
$dark-800: #31352b;
$dark-500: #505050;

$silver-600: #c1c1c1;
$silver-300: #F2F2F2;
$silver-100: #f6f6f6;
$white: #ffffff;
$black: #000000;

$animTime: 0.4s;






















