<footer class="footer">
  <div class="footer__top">
    <div class="footer__logo"></div>
    <div class="footer__content">
      <form action="">
        <label for="subscribe">Следите за нашими акциями</label>
        <input type="text" id="subscribe">
        <button>Подписаться</button>
      </form>

      <ul class="footer__menu menu-footer">
        <li class="menu-footer__list">
          <a class="menu-footer__link footer-link" href="#">О нас</a>
        </li>
        <li class="menu-footer__list">
          <a class="menu-footer__link footer-link" href="#">Контакты</a>
        </li>
        <li class="menu-footer__list">
          <a class="menu-footer__link footer-link" href="#">Публичная оферта</a>
        </li>
        <li class="menu-footer__list">
          <a class="menu-footer__link footer-link" href="#">Оплата и доставка</a>
        </li>
        <li class="menu-footer__list">
          <a class="menu-footer__link footer-link" href="#">Вакансии</a>
        </li>
        <li class="menu-footer__list">
          <a class="menu-footer__link footer-link" href="#">Акции</a>
        </li>
        <li class="menu-footer__list">
          <a class="menu-footer__link footer-link" href="#">Отзывы</a>
        </li>
        <li class="menu-footer__list">
          <a class="menu-footer__link footer-link" href="#">Новости</a>
        </li>
      </ul>

      <address class="footer__address">
        <a class="footer-link" href="tel:+7907288365">Горячая линия +7 907 288 365</a>
        <p class="footer__text"></p>
        <ul class="footer__social social">
          <li class="social__item">
            <a class="social__link" href="#" target="_blank"></a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" target="_blank"></a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" target="_blank"></a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" target="_blank"></a>
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="footer__bottom">

  </div>
</footer>