<section class="privilege">
  <h2 class="sr-only">Привелегии нашего интернет-маркета</h2>
  <div class="container">
    <ul class="privilege__list">
      <li class="privilege__item privilege__item--delivery">
        <h3 class="privilege__title">
          Бесплатная доставка
        </h3>
        <p class="privilege__desc">
          Для заказов на сумму от 500 ₽
        </p>
      </li>

      <li class="privilege__item privilege__item--purchase-returns">
        <h3 class="privilege__title">
          Возврат товара
        </h3>
        <p class="privilege__desc">
          Если товары были испорчены
        </p>
      </li>

      <li class="privilege__item privilege__item--support">
        <h3 class="privilege__title">
          Поддержка 24/7
        </h3>
        <p class="privilege__desc">
          Лучшие операторы
        </p>
      </li>
    </ul>
  </div>
</section>