<ul class="privilege">

  <li class="privilege__item privilege__item--delivery">
    <h2 class="privilege__title">
      Бесплатная доставка
    </h2>
    <p class="privilege__desc">
      Для заказов на сумму от 500 ₽
    </p>
  </li>

  <li class="privilege__item privilege__item--purchase-returns">
    <h2 class="privilege__title">
      Возврат товара
    </h2>
    <p class="privilege__desc">
      Если товары были испорчены
    </p>
  </li>

  <li class="privilege__item privilege__item--support">
    <h2 class="privilege__title">
      Поддержка 24/7
    </h2>
    <p class="privilege__desc">
      Лучшие операторы
    </p>
  </li>

</ul>