    <section class="discounts">
      <ul class="discounts__list">

        <li class="discounts__item">
          <div class="discounts__slide" style="background-image: url('pictures/discounts/01.jpg');">
            <div class="container">
              <div class="discounts__inner">
                <div class="discounts__content">
                  <h2 class="discounts__title">
                    Cвежачок вам в хату
                    <span class="discounts__title discounts__title--red">
                      скидка -50%
                    </span>
                  </h2>
                  <p class="discounts__desc">
                    Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
                  </p>
                  <a class="style-btn style-btn--green" href="#">Купить сейчас</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="discounts__item">
          <div class="discounts__slide" style="background-image: url('pictures/discounts/02.jpg');">
            <div class="container">
              <div class="discounts__inner">
                <div class="discounts__content">
                  <h2 class="discounts__title">
                    Накрути себе томатов
                    <span class="discounts__title discounts__title--red">
                      Акция: 3 кг по цене 1
                    </span>
                  </h2>
                  <p class="discounts__desc">
                    Только с 12 по 15 июля скидка на домашние помидорчики
                  </p>
                  <a class="style-btn style-btn--green" href="#">Купить сейчас</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="discounts__item">
          <div class="discounts__slide" style="background-image: url('pictures/discounts/03.jpg');">
            <div class="container">
              <div class="discounts__inner">
                <div class="discounts__content">
                  <h2 class="discounts__title">
                    Пусть остальные позеленеют от зависти
                    <span class="discounts__title discounts__title--red">
                      Распродажа зелени
                    </span>
                  </h2>

                  <a class="style-btn style-btn--green" href="#">Купить сейчас</a>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </section>